.board {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: #f2f2f2;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  border: 0px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  width: 300px;
  min-width: 300px;
}


.column-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 15px;
}

.board-container {
  width: 100%;
  overflow-x: auto;
}

body {
  background-color: #f2f2f2;
}
